.App {
  text-align: center;
}

.rotation {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  /* Borra esta línea si no quieres el efecto 3D */
  display: inline-block;
    margin: 15px;
}

/* Este contenedor es necesario para colocar el anverso y el reverso */
.internal-rotation {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Hace un giro horizontal cuando muevas el ratón sobre el contenedor de la caja */
.rotation:hover .internal-rotation {
  transform: rotateY(180deg);
}

/* Coloca el anverso y el reverso */
.front-rotation,
.back-rotation {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Estilos de la parte trasera (alternativa por si falta la imagen) */
.front-rotation {
  background-color: #bbb;
  color: black;
}

/* Estilos de la parte trasera */
.back-rotation {
  background-color: rgb(54, 53, 53);
  color: white;
  transform: rotateY(180deg);
}
